<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{STATIC_URL}}gist/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
      }
      h3 {
        margin: 0px;
        line-height: 1;
      }
    </style>
    <link href="{{STATIC_URL}}gist/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{STATIC_URL}}gist/bootstrap/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="span3">
            {% if user.userprofile.avatar %}
                <img src="{{user.userprofile.avatar.url}}">
            {% else %}
                <img src="http://placehold.it/300x300">
            {% endif %}
            <h2>{{user.userprofile.name}}</h2>
            <p>{{user.userprofile.bio|linebreaksbr}}</p>
            <p>{{user.userprofile.location}}</p>
            <p><a href="{{user.userprofile.url}}" target="blank">{{user.userprofile.url}}</a></p>
        </div>
        <div class="span7">
          {% block content %}
          {% endblock content %}
        </div>
        <div class="span2">
            <p><a href="/">home</a></p>
            <p style="line-height:2.2;">{% for tag in tag_qs %}<a href="/tag-{{tag.pk}}" class="btn btn-small">{{tag.name}}</a> {% endfor %}</p>
        </div>
      </div>
      <hr>
      2013 <a href="http://ondrejsika.com">Ondrej Sika</a>
    </div>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}gist/bootstrap/js/jquery.js"></script>
    <script src="{{STATIC_URL}}gist/bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{STATIC_URL}}gist/bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{STATIC_URL}}gist/bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{STATIC_URL}}gist/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{STATIC_URL}}gist/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{STATIC_URL}}gist/bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{STATIC_URL}}gist/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{STATIC_URL}}gist/bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{STATIC_URL}}gist/bootstrap/js/bootstrap-button.js"></script>
    <script src="{{STATIC_URL}}gist/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{STATIC_URL}}gist/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{STATIC_URL}}gist/bootstrap/js/bootstrap-typeahead.js"></script>
</body>
</html>