{% extends "gist/base.html" %}
{% block content %}
    <p><a href="/"><< home</a></p>
    <h2>{{gist.name}}</h2>
    <p>{% for tag in gist.tags.all %}<a href="/tag-{{tag.pk}}" class="btn btn-small">{{tag.name}}</a> {% endfor %}</p>
    <p>{{gist.description|linebreaksbr}}</p>
    {% if gist.content %}<pre>{{gist.content}}</pre>{% endif %}

    {% for file in gist.file_set.all %}
    <h4>{{file.name}}</h4>
    <p><code>{{file.file_name}}</code></p>
    <p>{{file.description|linebreaksbr}}</p>
    <pre>{{file.content}}</pre>
    {% endfor %}
{% endblock content %}