{% extends "gist/base.html" %}
{% block content %}
    {% for gist in gist_qs %}
    <div class="row"><div class="span9">
        <a href="/gist-{{gist.pk}}"><h3>{{gist.name}}</h3></a>
        <p>{% for tag in gist.tags.all %}<a href="/tag-{{tag.pk}}">{{tag.name}}</a> {% endfor %}</p>
        <p>{{gist.description|linebreaksbr}}</p>
        <p>{% for file in gist.file_set.all %}{% if file.file_name %}<code>{{file.file_name}}</code> {% endif %}{% endfor %}</p>
    </div></div>
    <hr style="margin: 0 0 20px 0;">
    {% endfor %}
{% endblock content %}